* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

#container {
    width: 80%;
    margin: 30px auto;
}

header {
    margin-bottom: 30px;
}

header img {
    height: 80px;
    border-right: 1px solid grey;
    padding-right: 10px;
}

nav {
    margin-bottom: 30px;
}

/* Lista link nav */
nav ul {
    list-style-type: none;
}

ul li {
    display: inline;
}

.link-nav {
    text-decoration: none;
    padding-right: 15px;
    color: grey;
}
/* /Lista link nav */

#jumbotron {
    background-image: url(img/banner.jpg);
    background-position: center;
    filter: brightness(80%);
    height: 500px;
    margin-bottom: 30px;
    border-radius: 10px 10px 10px 10px;
}

/* Contenuto jumbotron */
#jumbotron #main-jumbotron {
    padding-top: 290px;
    padding-left: 50px;
    width: 49%;
    color: black;
}
/* /Contenuto jumbotron */

main {
    margin-bottom: 50px;
}

.clearfix::after { 
    content: "";
    display: table;
    clear: both;
}

/* Contenuto main */
#header-main {
    margin-bottom: 15px;
}

#header-main div {
    color: grey;
    margin-bottom: 40px;
}

#column-left {
    float: left;
    width: 20%;
}

.img-column-lr {
    margin-bottom: 15px;
    width: 100%;
    height: 200px;
}

.img-column-lr img {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 10px 10px;
    filter: brightness(80%);
}

#column-left h4, #column-right h4 {
    margin-bottom: 10px;
}

#column-left div, #column-right div {
    color: grey;
}

#column-center{
    float: left;
    width: 58%;
    margin-left: 1%;
    margin-right: 1%;
}

#img-column-c {
    margin-bottom: 15px;
    height: 200px;
    width: 100%;
}

#img-column-c img { 
    height: 100%;
    width: 100%;
    border-radius: 10px 10px 10px 10px;
    filter: brightness(80%)
}

#column-center h4 {
    margin-bottom: 10px;
}

#column-center div {
    color: grey;
}

#column-right {
    float: left;
    width: 20%;
}
/* /Contenuto main */

footer div {
    text-align: center;
}

footer span {
    color: red;
}